<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="script.Valid_Email_TC1"/>
      <class name="script.Invalid_Email_TC2"/>
      <class name="script.UserLockScenario_TC3"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
